.btn{
    color: rgb(27, 136, 0);
    border-radius: 2%;
    cursor: pointer;
}
.Mreq{
    display: none;
    z-index: 1;
    position: fixed;
    padding: 10px;
    height: 100%;
    top: 0;
    width: 100%;
    
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
.closebtn{
    color: rgb(255, 255, 255);
    font-size:30px;
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: bold;
    cursor: pointer;
}
.reqf{
    background-image:url("BG1.jpg");
    position: relative;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    padding: 2%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 1px solid #888;
    width: 60%;
    background-attachment: scroll;
    overflow: auto; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  align-content: center;
    }
.reqf input[type=text],input[type=email], select, textarea{
    width: 100%;
    color: #000;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
 .reqf input[type=submit],input[type= reset] {
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    margin-left: 5%;
    border-radius: 4px;
    cursor: pointer;
    display: inline;
  }
.langopt{
    display: none;
    z-index: 1;
    position: fixed;
    padding: 10px;    
    top: 0;
    height: 100%;
    width: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
.lang{
    background-image:url("BG3.jpg");
    position: relative;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    padding: 2%;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 255, 0);
    width: 60%;
    background-attachment: scroll;
    overflow: auto; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    align-content: center;
    text-align: center;
}
.close{
    color: rgb(255, 255, 255);
    font-size:30px;
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: bold;
    cursor: pointer;
}
.lang button{
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    margin-left: 5%;
    border-radius: 4px;
    cursor: pointer;
    display: inline;
}